.todos{
    margin-top: 50px;
    width: 100%;
    color: #fff;
}
.todos h2{
    margin-bottom: 20px;
    font-weight: lighter;
    color: var(--second-color);
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    color: var(--main-color);

    width: 100%;
    height: 40px;

    border: 1px solid #fff;

    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
}

.todo_right_side{

}

.todo input{
    accent-color : var(--second-color);
    cursor: pointer;
}

.todo input:checked + label{
    text-decoration: line-through;
    filter: blur(0.9px);
    color: var(--second-color);

}

.todo p{
    font-size: 12px;
    margin-left: 2em ;
}

.todo label{
    margin-left: 10px;
    position: relative;
    font-weight: 600;
}
